<!DOCTYPE html>
<html class="full" lang="en">
  <head>
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/project.css" rel="stylesheet">
  </head>
  <body>

<!-- Creating the header with the VMTurbo icon...css change to black -->
    <div id="outer-wrap" class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
              <div id="logo" class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="http://vmturbo.com/customers/customers-by-industry/">
                    <img alt="vmturbo-logo" src="../static/img/assets/vmturbo-logo.png">
                  </a>
                </div>
              </div>
            </nav> 
        </div> 

<!-- Creating second row below the nav bar a div with two nested divs varying opacity with hr and text -->
        <div id="top-section-wrap" class="row">
            <p class="abovediv"> VMWORLD BARCELONA BOOTH 404</p>
                <div id="desired-state" class="sectiona">
                    <img alt="header-background" src="../static/img/assets/desiredstate2-png-vr.png"
                        <hr>
                </div>
        </div>

<!-- Have to creat some line of separtion to place the Register Now button on the center of it. Pretty significant thickness between these two divs down and below... maybe another div... not sure -->



<!-- This is the the second div under the gree register now button with the samsung image floating to the left, and the text floating to the right of the two centred images 

Below those images are the text, and an  occulus image side by side... Followed by a quote that lies undeneath both text and image-->
        
        
        <button class="btn btn-success" type="Register;">Register Now &raquo;</button>

        <div id="second" class="row">
            <div id="sectionb">
                <div class="col-xs-6 col-md-8 col-lg-7">
                    <img id="samsungs" alt="samsung image" src='../static/img/assets/samsung-galaxy-s6edge.png'>  
                 </div>  

                 <div class="col-xs-6 col-md-4 col-lg-5">
                     <h2> Lorem ipsum dolor sit amet. </h2>
                    <p id="samtext1">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
                <div class="col-xs-6 col-md-8 col-lg-7">
                    <h2> Lorem ipsum dolor sit amet. </h2>
                    <p id="samtext2">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                    <blockquote id="blockquote"><h4 id="block"> This is that</blockquote></h4>
                 </div>  

                 <div class="col-xs-6 col-md-4 col-lg-5">
                    <img id="occulus" alt="occulusimg" src="../static/img/assets/samsung-vr.png">

                </div>
                <div class="col-xs-6 col-md-8 col-lg-7">
                    <h2> Lorem ipsum dolor sit amet. </h2>
                    <p id="samtext2">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                 </div>  


            </div>
        </div>

<!-- Again, in between the section b and c there is a large separation- grey in colour- with an image dead center flushing onto section c-->

<!-- Section c has a fuzzy networking dashboard background with centred bold white text; below that are five vmturbo circular images-->

        <div id="third"class="row">
            <div id="sectionc">
            </div>
        </div>

<!-- Footer-->
    <nav id="footer" class="navbar navbar-default navbar-fixed-bottom" 
        role="navigation">
    <div class="container">
        <br>
        <p class="text-muted" align="left">&copy;VMTurbo,Inc.</p>
        <p class="text-muted" align="right">TERMS OF USE PRIVACY POLICY</p>
    </div>
    </nav>
    

    
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>