<!DOCTYPE html>

<html lang="en">
  <head>
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="../static/css/project.css" rel="stylesheet">
  </head>
  <body>

    <div id="outer-wrap" class="container-fluid">
      <div class="row">
        <nav class="navbar-default">
        <div id="logo" class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://vmturbo.com/customers/customers-by-industry/">
              <img alt="vmturbo-logo" class="img-responsive" src="../static/img/assets/vmturbo-logo.png">
            </a>
          </div>
        </div>
        </nav> 
      </div> 

    
      <div id="top-section-wrap" class="row">

        <p id="abovediv"> VMWORLD BARCELONA BOOTH 404</p>

        <div id="desired-state" class="sectiona col-lg-6 col-lg-offset-3">
          <img alt="header-background" class="img-responsive"
          src="../static/img/assets/desiredstate2-png-vr.png">
        
        </div>
      </div>
      <div id="register" class="row">
        <button class="btn btn-success" type="button">Register Now &raquo;</button>
      </div>
  
      <div id="second" class="row">
        <div class="sectionb">
          <div class="row">
            <div id="samsung-wrap" class="col-xs-12 col-md-4 col-lg-4 col-lg-offset-2">
             <img alt="samsung image" class="img-responsive"src='../static/img/assets/samsung-galaxy-s6edge.png'>  
            </div>

            <div class="phone-text col-xs-12 col-md-4 col-lg-4">
              <h2> Lorem ipsum dolor sit amet. </h2>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>

              <h2> Lorem ipsum dolor sit amet. </h2>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>

              <h2> Lorem ipsum dolor sit amet. </h2>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>

          <div class="row">
            <div id="occulus-text-wrap" class="col-xs-12 col-md-4 col-lg-4 col-lg-offset-2">
              <h2> Lorem ipsum dolor sit amet. </h2>
              <p id="samtext2">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              </p>
              <h2> Lorem ipsum dolor sit amet. </h2>
              <p id="samtext2">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              </p>
            </div> 
            <div id="occulus-image-wrap" class="col-xs-12 col-md-4 col-lg-4">
              <img alt="occulusimg" class="img-responsive" src="../static/img/assets/samsung-vr.png">
            </div>
          </div>
          <hr> 
        </div>
      </div>

      <div id="third"class="row">
        <div id="sectionc">
        </div>
      </div>

      <!-- Footer-->
      <div class="row">
      <nav id="footer" class="navbar navbar-default navbar-static-bottom" 
      role="navigation">
      <div class="container">
        <br>
        <p class="text-muted" align="left">&copy;VMTurbo,Inc.</p>
        <p class="text-muted" align="right">TERMS OF USE PRIVACY POLICY</p>
      </div>
      </nav>

    </div>

    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>