#logo {
    background-color: #000000;
}

#outer-wrap {
    background-image: url("../img/assets/header-bg.jpg");
    
}

div #abovediv {
    position: relative;
    text-align: center;
    color: #ffffff;
}



div #second {
    background-image: url("../img/assets/body-bg.jpg");    
    border-top-style: solid;
    border-width: 5px;
    border-color: rgb(192,192,192) ;
    height: 500px;
    position: relative;
}

#register {
  position: absolute;
  top: -20px;
  right: 50%;
}
.sectionb {
  width: 500px;
  margin: auto;
}

#samsung-wrap {
  width: 200px;
  float: left;
}

.samsung-wrap img {
  width: 100%;
}

.phone-text {
  float: right;
  width: 250px;
}

.phone-text p {
  color: white;
  font-size: 10px;
}

blockquote, block {
    display: inline-block;
}

#occulus-image-wrap {
  width: 250px;
  float: right;
}



#occulus-text-wrap {
  width: 250px;
  float: left;
  font-size: 10px;
}

hr {
  size : 10px;
}

div #third {
    background-image: url("../img/assets/footer-bg.jpg");
    height: 250px;
}

#footer {
    background-color: #000000;
}

p,
h2 {
 color: white;
}

h2 {
  font-size: 14px;
}
