#logo {
    background-color: #000000;
}

#outer-wrap {
    background-image: url("../img/assets/header-bg.jpg");
    
}

div #abovediv {
    position: relative;
    text-align: center;
    color: #ffffff;
}



div #second {
    background-image: url("../img/assets/body-bg.jpg");    
}

#register {
  background-color: gray;
  height: 5px;
}

#register button {
  display: block;
  position: relative;
  margin: auto;
  top: -18px;
}

.sectionb {
  margin: auto;
}

#samsung-wrap {
}

#samsung-wrap img {
  width: 70%;
  float: right;
}

.phone-text {
}

.phone-text p {
  color: white;
  font-size: 10px;
}

blockquote, block {
    display: inline-block;
}

#occulus-image-wrap {
  width: 250px;
  float: right;
}



#occulus-text-wrap {
  width: 250px;
  float: left;
  font-size: 10px;
}

hr {
  size : 10px;
}

div #third {
    background-image: url("../img/assets/footer-bg.jpg");
    height: 250px;
}

#footer {
    background-color: #000000;
}

p,
h2 {
 color: white;
}

h2 {
  font-size: 14px;
}
