#logo {
    background-color: #000000;
}

#outer-wrap {
    background-image: url("../img/assets/header-bg.jpg");
    
}

div #abovediv {
    position: relative;
    text-align: center;
    color: #ffffff;
}



div #second {
    background-image: url("../img/assets/body-bg.jpg");    
}

#register {
  background-color: gray;
  height: 5px;
}

#register button {
  display: block;
  position: relative;
  margin: auto;
  top: -18px;
}

.sectionb {
  margin: auto;
}

#samsung-wrap {
}

#samsung-wrap img {
  width: 90%;
}

.phone-text {
}

.phone-text p {
  color: white;
  font-size: 10px;
}

blockquote, block {
    display: inline-block;
}

#occulus-image-wrap {
}



#occulus-text-wrap {
  font-size: 10px;
}


#bottom-third-section {
    background-image: url("../img/assets/footer-bg.jpg");
    height: 250px;
}
#cloud-explosion {
  background-color: gray;
  height: 20px;
}

#cloud-explosion img {
  display: block;
  position: relative;
  margin: auto;
  width: 10%;
  top: -24px;
}

#footer {
    background-color: #ffffff;
    color: black;
}

p,
h2 {
 color: white;
}

h2 {
  font-size: 14px;
}
